<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="collectionBeanMap" class="com.ehr.map.CollectionBeanMap">
		<property name="addressMap">
			<map>
				<entry>
					<key><value>강북</value></key>
					<value>서울시 마포구 월드컵북로 21 풍성빌딩</value>
				</entry>
				<entry>
					<key><value>강남</value></key>
					<value>서울시 마포구 테란로132(역삼동)</value>
				</entry>
			</map>
		
		</property>
	</bean>

</beans>
